@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS para estilizar o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Adicione qualquer estilo de formatação adicional aqui, se necessário */


body {
  background-image: url('https://i.postimg.cc/sgvtPfqb/0-C6-A87-C7-E348-4684-B8-E0-11-B69-D9-C6-B2-F.jpg');
  background-size: cover; /* Para cobrir todo o corpo */
  background-position: center; /* Para centralizar a imagem */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Sora', sans-serif;
}


/* CSS para tornar o texto amarelo e animado */
#data {
  color: yellow;
  /* Define a cor do texto como amarelo */
  animation: blink 2s linear infinite;
  /* Cria a animação de piscar */
}

/* Defina a animação de piscar */
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

header,
main,
footer {
  width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  white-space: nowrap;
  width: 50px;
  position: relative;
  right: 60px;
}
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #1d1d20;
  padding: 20px;
  border-radius: 10px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

header .header img {
  /* width: 30%; */
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


header .header .header__info {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
  background-color: rgba(29, 29, 32, 0.7);
  margin: 15px 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-left: 4px solid #fff;
  height: 83px;
}

main article .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

main article .title i {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main article .title h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main article p {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main article:hover {
  background-color: #1d1d20;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  border-left: 4px solid #5adbff;
}

main article:hover .title i,
main article:hover .title h3 {
  color: #fff;
}

main article:hover p {
  color: #fff;
}

main .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

main .social i {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .social i:hover {
  color: rgba(255, 255, 255, 0.7);
}

footer {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

footer p {
  font-size: 0.825rem;
  color: rgba(255, 255, 255, 0.702);
}

@media (max-width: 552px) {

  header,
  main,
  footer {
    max-width: 100%;
  }

  header h1 {
    font-size: 1.25rem;
  }

  header p {
    font-size: 0.906rem;
  }

  main article .title i {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  main article .title h3 {
    font-size: 0.906rem;
  }

  main p {
    font-size: 0.906rem;
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  color: black;
  font-weight: 600;
}

.form-label {
  margin-bottom: 0.5rem;
  color: black;
}
